section {
  margin-top: 5rem;
}

section .section-title {
  line-height: 0;
}

section .section-title h1 {
  font-size: 4rem;
}

section .section-title h5 {
  font-style: 5rem;
  color: rgb(106, 98, 98);
  font-weight: 400;
}
section p {
  font-style: 1rem;
  max-width: 380px;
  color: gray;
}

section button {
  padding: 18px 25px;
  border: none;
  background-color: #4361ee;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-style: 1.1rem;
  border-radius: 25px;
  cursor: pointer;
}
.mood h1 {
  color: #788cc1;
}
.mood section .section-title h1 {
  color: #788cc1;
}
.mood section h5 {
  color: #eee;
}
.mood section p {
  color: #eee;
}
